/* General Styling */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #1f2937;
    margin-bottom: 2rem;
}

/* PatientStats styles */
.stats-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .stat-box {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
  }
  
  /* PatientTable styles */
  .table-container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f8f8f8;
  }
  

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content label {
    display: block;
    margin: 10px 0;
  }
  
  .modal-content input,
  .modal-content select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  