* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.slider-container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.slidebar {
    background-color: white;
    color: #4f46e5;;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    margin-left: 10px;
    white-space: 'nowrap';
    font-size: 20px;
    font-weight: bold;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    columns: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon, .link-text {
    font-size: 20px;
}